.g-w100 {
  width: 100% !important;
}

.g-h100 {
  height: 100% !important;
}

.g-bottom-gap {
  margin-bottom: $gap;
}

.g-top-gap {
  margin-bottom: $gap;
}

.g-left-gap {
  margin-left: $gap;
}

.g-right-gap {
  margin-right: $gap;
}
